.item-list{
    padding-top: 16px;
    padding-bottom: 16px;
}
.start-card{
    margin: 12px;
    width: 300px;
    background-color: white;
}
.start-item-image{
    width: 100%;
    margin-bottom: 16px;
    object-fit: cover;
}